@import url('https://fonts.googleapis.com/css?family=Trirong');

body {font-family: 'Trirong', serif;}
p {
    margin: 5px;
}

.q-card .header{
    color: #479ae0;
}

.bg-primary {
    background: #479ae0 !important;
}

.login-input {
    border: 2px solid #e8e8e8;
    border-radius: 6px;
    padding: 10px;
}

.relative-position {
    position: none;
}

.q-if:before, .q-if:after {
    border-bottom-style: none; 
}

.q-if-label, .q-if-addon, .q-if-control {
    color: #479ae0;
    line-height: 24px;
}

button.q-btn {
    border-radius: 6px;
}

.menu{
    color: #479ae0;
    font-size: 2em !important;
}

.title{
    color: black;
    font-size:1em;
    font-weight: bold;
    vertical-align: middle;
}

.subtitle{
    color: gray;
    font-size:0.7em;
    font-weight: bold
}

.q-item-avatar, .q-item-avatar img {
    margin-top: 10px;
      width: 70px;
      height: 70px;
      background-size: cover;
      background-position: top center;
      border-radius: 50%;
}

.q-card-container {
    padding: 3px;
}

.q-layout-drawer #q-list-itemb {
    position: absolute !important;
    bottom: 0;
}

.q-layout-drawer #q-list-itema {
    position: absolute !important;
    top: 0;
}

.q-layout-drawer .q-list .q-item {
    text-align: center
}

.q-card {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.23), 0 3px 1px -2px rgba(0,0,0,0.12);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23), 0 2px 2px rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0);
}

.q-layout-footer {
    -webkit-box-shadow: 0 -1px 8px rgba(0,0,0,0.2), 0 -3px 4px rgba(0,0,0,0.14), 0 -3px 3px -2px rgba(0,0,0,0.12);
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.01), 0 -3px 4px rgba(0, 0, 0, 0.03), 0 -3px 3px -2px rgba(0, 0, 0, 0.07);
    padding: 10px;
    background-color: white;
}

.personcard {
    height: 95%;
}

.quick-nav{
    position: static !important;
}

.absolute-bottom{
    position: static;
}

.q-carousel-quick-nav {
    background: rgba(0, 0, 0, 0);
}

.q-carousel-slide {
    /* padding: 0 12px 0 12px; */
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.subheader{
    margin: 5px 0 5px 15px;
    color: #479ae0;
    font-weight: bold;
    font-size: 0.8em;
}

.q-breadcrumbs{
    font-size: 0.8em;
}

.wrapperA {
    width: 70px;
    height: 44px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.closemodal{
    padding: 10px;
    background-color: black;
    color: #fff;
    font-size: 1.5em;
}

.q-toolbar-title {
    padding: 0;
}

.avatarList {
    width : 75px;
    height: 90px;
}

.btn-to-top {
    width: 50px;
    height: 50px;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 22px;
  }

.q-item-label {
    line-height: 1.4;
}